<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <div>
    <!-- <h2 class="header">{{ title }}</h2>>
    Set title : <input [(ngModel)]="title"/>  
    <h2>{{ count }}</h2>
    <button (click)="countNumber()">Count</button>
    <ul>
      <li *ngFor="let item of items">
        <span *ngIf="item !== 5">{{ item }}</span>
        <b *ngIf="item === 5">{{ item }}</b>
      </li>
    </ul>
    <app-nav-bar-component></app-nav-bar-component>
    <app-top-banner-component></app-top-banner-component>
    <app-category-menu-component></app-category-menu-component>
    <app-to-do-list-component></app-to-do-list-component> -->
    <app-to-do-list-component></app-to-do-list-component>
    <app-swift-views></app-swift-views>
  </div>
</body>
</html>